
/* GENERAL */

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 980px;
}

#header-logo {
    font-family: 'Trade Winds', cursive;
    color: white;
    font-size: 40px;
}

#header-navbar li {
    display: inline;
}

#header-navbar a {
    display: inline-block;
    padding: 37px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 20px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 980px;
}

#footer-navbar li {
    display: inline;
    margin: 0 37px;
}

#footer-navbar a {
    display: inline;
    color: black;
    font-size: 15px;
}

#footer-navbar a, footer p {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 15px;
}